@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: #b6c2cd;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --primary: #00d369;
    --primary-foreground: #fff;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
}

body {
    font-family: var(--font-matter);
    font-weight: 300;
}

/* clerk */
.cl-formButtonPrimary {
    font-size: 14px;
    text-transform: none;
    @apply bg-primary;
    @apply font-medium;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
    @apply bg-primary;
}


.cl-footerActionLink,
.cl-footerActionLink:hover,
.cl-footerActionLink:focus,
.cl-footerActionLink:active {
    @apply text-primary;
    @apply font-medium;
}

.cl-internal-b3fm6y {
    display: none;
}

.cl-headerTitle {
    @apply font-medium;
}

.cl-userButtonPopoverFooter {
    display: none;
}

.cl-userButtonPopoverCard {
    border-radius: 4px;
    @apply shadow-lg;
    @apply border-neutral-7;
}